/* Write your CSS here */

.not-foun-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
}
.not-found-heading {
  font-size: 32px;
  color: #ffffff;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 768px) {
  .not-foun-con {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
  .not-found-heading {
    font-size: 64px;
  }
}
